bower_components/
node_modules/
.sass-cache/
npm-debug.log
**/.DS_Store
dest/
reports/
.idea/
phantomjsdriver.log
.temp/
.tmp/
*.suo
*.user
bin/
obj/
packages/
min
*.css.map
config.codekit
src/app/config
packages/
*.user
*.suo
src/config
karma.conf.js
.SyncIgnore
.synkron.syncdb
src/app/.synkron.syncdb
*.BASE*
*.BACKUP*
*.LOCAL*
*.REMOTE*
*.___*___
*.crunch*
*.ncrunch*
